##Data-Manupulation

In [4]:
import pandas as pd

In [5]:
data = {'name': ['alice', 'Bob', 'Charlie'], 'age': [25, 30, 35]}
df = pd.DataFrame(data)

In [6]:


df.head()

      name  age
0    alice   25
1      Bob   30
2  Charlie   35